<html>

<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/bus2.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">ver</span>
                                <span class="section-heading-lower">Bus</span>
                            </h2>
                            <div>
                                <div class="grupoAtributo">
                                    <p class="etiqueta">Placa:</p>
                                    <p>{{transmilenio.placa}}</p>
                                </div>
                                <div class="grupoAtributo">
                                    <p class="etiqueta">Modelo:</p>
                                    <p>{{transmilenio.modelo}}</p>
                                </div>
                                <h5>Listado de Conductores:</h5>
                                <table class="conductor-list table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Cedula</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let conductor of conductoresTransmilenio">
                                            <td>{{conductor?.cedula}}</td>
                                            <td>{{conductor?.nombre}}</td>
                                            <td>{{conductor?.telefono}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" [routerLink]="['/transmilenio/asign/conductor', transmilenio.id]">Administrar Conductores</a>
                                <h5>Listado de Rutas:</h5>
                                <table class="conductor-list table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Rutas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ruta of rutasBus">
                                            <td>{{ruta?.codigo}}</td>
                                            <td><a class="btn btn-outline-dark"
                                                    [routerLink]="['/ruta/view', ruta.id]">Ver</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="btn btn-primary" [routerLink]="['/transmilenio/asign/ruta', transmilenio.id]">Administrar Rutas</a>
                            </div>
                            <a class="btn btn-secundary" [routerLink]="['/transmilenio/list']">Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>