<html>

<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/bus2.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">ver</span>
                                <span class="section-heading-lower">Bus</span>
                            </h2>
                            <div>
                                <div class="grupoAtributo">
                                    <p class="etiqueta">Placa:</p>
                                    <p>{{transmilenio.placa}}</p>
                                </div>
                                <div class="grupoAtributo">
                                    <p class="etiqueta">Modelo:</p>
                                    <p>{{transmilenio.modelo}}</p>
                                </div>
                                <h5>Asignacion de Rutas:</h5>
                                <div class="containerTablas">
                                    <div class="divTabla">
                                        <p>Asignadas:</p>
                                        <table class="conductor-list table table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="section-heading mb-4">Codigo</th>
                                                    <th scope="col" class="section-heading mb-4">Nombre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ruta of transmilenio.rutas">
                                                    <td>{{ruta.codigo}}</td>
                                                    <td>{{ruta.nombre}}</td>
                                                    <a class="btn botonEliminar"
                                                        (click)="eliminarRutaTransmilenio(ruta)">Eliminar</a>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="divTabla">
                                        <p> No asignadas:</p>
                                        <table class="conductor-list table table-striped">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col" class="section-heading mb-4">Codigo</th>
                                                    <th scope="col" class="section-heading mb-4">Nombre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ruta of rutasNoAsignadas">
                                                    <td>{{ruta.codigo}}</td>
                                                    <td>{{ruta.nombre}}</td>
                                                    <a class="btn botonAgregar"
                                                        (click)="agregarRutaTransmilenio(ruta)">Agregar</a>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-secundary" [routerLink]="['/transmilenio/view', transmilenio.id]">Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>