<html>
<body>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/bus1.png" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Anderson Alvarado, Sebastian Galeano</span>
                        <span class="section-heading-lower">Ponti Transmilenio</span>
                    </h2>
                    <p class="mb-3">Gestiona y Coordina los conductores, rutas y buses del servicio Ponti-Transmilenio!</p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Acceder</a></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>