<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Ponti-Transmi</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Conductores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Rutas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Buses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Salir</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="coverC d-flex justify-content-center align-items-center flex-column">
            <h1>
                Ponti-Transmi
            </h1>
            <p>
                Movilízate sin complicaciones<br>
            </p>
            <p>
                <br>Gestiona y Coordina los conductores, rutas y buses del servicio Ponti-Transmi
            </p>
        </div>
    </section>
</body>
</html>

