<div class="container">
    <form [formGroup]="conductorForm">
        nombre: <input
            type="text"
            class="form-control"
            formControlName="nombre"
        >
        cedula: <input
            type="text"
            class="form-control"
            formControlName="cedula"
        >
        telefono: <input
            type="text"
            class="form-control"
            formControlName="telefono"
        >
        direccion: <input
            type="text"
            class="form-control"
            formControlName="direccion"
        >
        <button class="btn btn-primary" type="submit">Aceptar</button>
    </form>

</div>
