<html>
<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/bus3.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">editar</span>
                                <span class="section-heading-lower">Conductor</span>
                            </h2>
                            <form [formGroup]="conductorForm" (ngSubmit)="actualizarConductor()">
                                <div>
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" 
                                    class="form-control" 
                                    id="nombre" [(ngModel)]="conductor.nombre" 
                                    formControlName="nombre">
                                </div>
                                <div>
                                    <label for="cedula">Cédula:</label>
                                    <input type="number" class="form-control" id="cedula" [(ngModel)]="conductor.cedula" formControlName="cedula">
                                </div>
                                <div>
                                    <label for="telefono">Teléfono:</label>
                                    <input type="number" class="form-control" id="telefono" [(ngModel)]="conductor.telefono" formControlName="telefono">
                                </div>
                                <div>
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" class="form-control" id="direccion" [(ngModel)]="conductor.direccion" formControlName="direccion">
                                </div>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </form>
                            <a class="btn btn-secondary" [routerLink]="['/conductor/list']">Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>