<html>
<body>
    <div class="wrapper-md-3">
        <div class="container mainI">
            <div class="row">
                <div class="col-md-3 side-image">
                    <!-------Image-------->

                </div>
                <div class="col-md-7 right">
                    <div class="conductorViewContainer" class="input-box">
                        <div class="grupoAtributo">
                            <p class="etiqueta">Cédula</p>
                            <p>{{conductor?.cedula}}</p>
                        </div>
                        <div class="grupoAtributo">
                            <p class="etiqueta">Nombre</p>
                            <p>{{conductor?.nombre}}</p>
                        </div>
                        <div class="grupoAtributo">
                            <p class="etiqueta">Teléfono</p>
                            <p>{{conductor?.telefono}}</p>
                        </div>
                        <div class="grupoAtributo">
                            <p class="etiqueta">Dirección</p>
                            <p>{{conductor?.direccion}}</p>
                        </div>
                        <div class="busesContenedor">
                            <h5>Listado de Buses:</h5>
                            <table class="conductor-list table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Placa</th>
                                        <th scope="col">Modelo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let transmilenio of conductor?.transmilenios">
                                        <td>{{transmilenio?.placa}}</td>
                                        <td>{{transmilenio?.modelo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="botonesContainer">
                            <a class="btn btn-outline-info" [routerLink]="['/conductor/list']">Atrás</a>
                            <a class="btn btn-outline-info" [routerLink]="['/conductor/list']">Asignar Transmilenio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>