<div>
    <nav class="navbar navbar-dark bg-primary navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/home']">Home</a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/conductor/list']">Conductores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/ruta/list']">Rutas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/transmilenio/list']">Buses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">Salir</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>