<html>

<body>
    <div class="wrapper-md-3">
        <div class="container mainI">
            <div class="row">
                <div class="col-md-3 side-image">
                    <!-------Image-------->
                </div>
                <div class="col-md-7 right">
                    <div class="input-box">
                        <h2>Conductor</h2>
                        <div class="container">
                            <form (ngSubmit)="guardarConductor()">
                                <div>
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre" [(ngModel)]="conductor.nombre" name="nombre">
                                </div>
                                <div>
                                    <label for="cedula">Cédula:</label>
                                    <input type="number" id="cedula" [(ngModel)]="conductor.cedula" name="precio">
                                </div>
                                <div>
                                    <label for="telefono">Teléfono:</label>
                                    <input type="number" id="telefono" [(ngModel)]="conductor.telefono" name="precio">
                                </div>
                                <div>
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" id="direccion" [(ngModel)]="conductor.direccion" name="precio">
                                </div>
                                <button type="submit">Crear</button>
                            </form>
                        </div>
                        <a class="btn btn-outline-info" [routerLink]="['/conductor/list']">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>