<html>
  <body>
    <div class="wrapper-md-3">
      <div class="container mainI">
          <div class="row">
              <div class="col-md-3 side-image">
                  <!-------Image-------->
                  
              </div>
              <div class="col-md-7 right">
                   <div class="input-box">
                      <h2>Conductor</h2>
                      <div class="container">
                        <form [formGroup]="conductorForm">
                            Nombre: <input
                                type="text"
                                class="form-control"
                                formControlName="nombre"
                            >
                            Cédula: <input
                                type="number"
                                class="form-control"
                                formControlName="cedula"
                            >
                            Teléfono: <input
                                type="number"
                                class="form-control"
                                formControlName="telefono"
                            >
                            Dirección: <input
                                type="text"
                                class="form-control"
                                formControlName="direccion"
                            >
                        </form>
                    </div>
                        <a class="btn btn-outline-info" [routerLink]="['/conductor/list']">Atrás</a>
                        <button class="btn btn-outline-info" type="submit">Aceptar</button>
                   </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>