<html>
<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/bus3.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">crear</span>
                                <span class="section-heading-lower">Conductor</span>
                            </h2>
                            <form (ngSubmit)="guardarConductor()">
                                <div>
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" id="nombre"  class="form-control" [(ngModel)]="conductor.nombre" name="nombre">
                                </div>
                                <div>
                                    <label for="cedula">Cédula:</label>
                                    <input type="number" id="cedula"  class="form-control" [(ngModel)]="conductor.cedula" name="precio">
                                </div>
                                <div>
                                    <label for="telefono">Teléfono:</label>
                                    <input
                                    type="number" 
                                    id="telefono"  
                                    class="form-control" [(ngModel)]="conductor.telefono" name="telefono">
                                </div>
                                <div>
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" id="direccion"  class="form-control" [(ngModel)]="conductor.direccion" name="precio">
                                </div>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </form>
                            <a class="btn btn-secundary" [routerLink]="['/conductor/list']">Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>