<html>

<body>
    <div class="wrapper-md-3">
        <div class="container mainI">
            <div class="row">
                <div class="col-md-3 side-image-crud">
                    <!-------Image-------->

                </div>
                <div class="col-md-7 right">
                    <div class="input-box">
                        <h2>Ruta</h2>
                        <div class="container">
                            <form [formGroup]="rutaForm" (ngSubmit)="actualizarRuta()">
                                <div>
                                    <label for="codigo">Código:</label>
                                    <input type="text" class="form-control" id="codigo" [(ngModel)]="ruta.codigo" formControlName="codigo">
                                </div>
                                <div>
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" [(ngModel)]="ruta.nombre" formControlName="nombre">
                                </div>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </form>
                        </div>
                        <a class="btn btn-outline-info" [routerLink]="['/ruta/list']">Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>