<html>
<body>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/bus3.png" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">listado</span>
                                <span class="section-heading-lower">Conductores</span>
                            </h2>
                            <table class="conductor-list table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="section-heading mb-4">Cédula</th>
                                        <th scope="col" class="section-heading mb-4">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let conductor of conductores">
                                        <td class="mb-3">{{conductor.cedula}}</td>
                                        <td class="mb-3">{{conductor.nombre}}</td>
                                        <td class="intro-button mx-auto">
                                            <a class="btn btn-outline-dark"
                                                [routerLink]="['/conductor/view', conductor.id]">Ver</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-primary"
                                                [routerLink]="['/conductor/update', conductor.id]">Editar</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger"
                                                (click)="eliminarConductor(conductor.id!)">Eliminar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-primary" [routerLink]="['create']">Crear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>